:root {
    --primary: #fff;
  }
  
.btn {
    background: #fff;
    
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
.btn--primary {
    background-color: #fff;
    color: #242424;
    border: 1px solid var(--primary);
  }
  
.btn--outline {
    background-color: #fff;
    color: #87CEEB;
    padding: 8px 20px;
    border-radius:60px;
    height: 50px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color:#87CEEB;
    transition: 250ms;
  }